[submodule "bundle/cmake.vim-syntax"]
	path = bundle/cmake.vim-syntax
	url = https://github.com/vim-scripts/cmake.vim-syntax
[submodule "bundle/cmake.vim"]
	path = bundle/cmake.vim
	url = https://github.com/jalcine/cmake.vim
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux
[submodule "bundle/vim-cmake-project"]
	path = bundle/vim-cmake-project
	url = https://github.com/sigidagi/vim-cmake-project
