[submodule "bundle/cmake.vim-syntax"]
	path = bundle/cmake.vim-syntax
	url = https://github.com/vim-scripts/cmake.vim-syntax
[submodule "bundle/cmake.vim"]
	path = bundle/cmake.vim
	url = https://github.com/jalcine/cmake.vim
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux
[submodule "bundle/vim-cmake-project"]
	path = bundle/vim-cmake-project
	url = https://github.com/sigidagi/vim-cmake-project
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
